In [1]:
# In this final lab, we will model our data. Import sklearn train_test_split and separate the data.
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np


categorical = pd.read_csv('categorical.csv')
numerical = pd.read_csv('numerical_data.csv')

data = pd.concat([categorical, numerical], axis=1)

data.head()

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy,...,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,Year,Month,Day
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,3,...,56274,69,32,5,0,1,384.811147,2011,2,24
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,3,...,0,94,13,42,0,8,1131.464935,2011,1,31
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,3,...,48767,108,18,38,0,2,566.472247,2011,2,19
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,2,...,0,106,18,65,0,7,529.881344,2011,1,20
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,1,...,43836,73,12,44,0,1,138.130879,2011,2,3

In [2]:
data['policy'] = data['policy'].astype(str)

In [3]:
# Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

y = data['total_claim_amount']
X = data.drop(['total_claim_amount', 'customer'], axis=1) 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [4]:
X_train_num = X_train.select_dtypes(include = np.number)
X_train_cat = X_train.select_dtypes(include=[np.object])

X_test_num = X_test.select_dtypes(include = np.number)
X_test_cat = X_test.select_dtypes(include=[np.object])

/var/folders/n7/3f1mct1521j5vz1r2r1xwby80000gn/T/ipykernel_65961/132797002.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_train_cat = X_train.select_dtypes(include=[np.object])
/var/folders/n7/3f1mct1521j5vz1r2r1xwby80000gn/T/ipykernel_65961/132797002.py:5: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_test_cat = X_test.select_dtypes(include=[np.object])

In [5]:
# Use X_train_num to fit scalers. Transform BOTH X_train_num and X_test_num.

from sklearn.preprocessing import MinMaxScaler

transformer = MinMaxScaler().fit(X_train_num)  
X_train_norm = transformer.transform(X_train_num)  
X_train_num_norm = pd.DataFrame(X_train_norm, columns=X_train_num.columns)

In [6]:
X_train_num_norm

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,Year,Month,Day
0,0.038010,0.751043,0.008439,0.285714,0.676768,0.2,0.750,0.0,1.0,0.533333
1,0.075592,0.173043,0.185654,0.028571,0.111111,0.0,0.500,0.0,1.0,0.000000
2,0.057444,0.105190,0.130802,0.400000,0.656566,0.0,0.250,0.0,1.0,0.133333
3,0.074896,0.436653,0.021097,0.600000,0.747475,0.0,0.125,0.0,0.0,0.533333
4,0.038280,0.485762,0.291139,0.342857,0.151515,0.0,0.000,0.0,1.0,0.066667
...,...,...,...,...,...,...,...,...,...,...
7302,0.228168,0.583281,0.050633,0.000000,0.565657,0.0,0.125,0.0,0.0,0.000000
7303,0.004945,0.259099,0.008439,0.600000,0.121212,0.0,0.000,0.0,0.0,0.466667
7304,0.052437,0.272942,0.409283,0.114286,0.787879,0.4,0.000,0.0,0.0,0.533333
7305,0.055332,0.281003,0.088608,0.514286,0.020202,0.0,0.875,0.0,0.0,1.000000
7306,0.011197,0.747272,0.037975,0.571429,0.676768,0.0,0.000,0.0,1.0,0.766667

In [7]:
X_test_norm = transformer.transform(X_test_num) 
X_test_num_norm = pd.DataFrame(X_test_norm, columns=X_test_num.columns)

In [8]:
X_test_num_norm

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,Year,Month,Day
0,0.022517,0.000000,0.147679,0.885714,0.343434,0.0,0.000,0.0,1.0,0.766667
1,0.057388,0.529611,0.447257,0.085714,0.434343,0.2,0.000,0.0,1.0,0.433333
2,0.006303,0.544934,0.000000,0.171429,0.575758,0.0,0.000,0.0,1.0,0.733333
3,0.038280,0.485762,0.291139,0.342857,0.151515,0.0,0.000,0.0,1.0,0.066667
4,0.044660,0.161041,0.054852,0.457143,0.101010,0.0,0.250,0.0,1.0,0.133333
...,...,...,...,...,...,...,...,...,...,...
1822,0.114463,0.692812,0.135021,0.885714,0.202020,0.0,0.125,0.0,0.0,0.733333
1823,0.049363,0.000000,0.455696,0.885714,0.777778,0.0,0.000,0.0,1.0,0.400000
1824,0.121985,0.929487,0.358650,0.171429,0.383838,0.0,0.750,0.0,0.0,0.633333
1825,0.044826,0.678109,0.033755,0.028571,0.787879,0.0,1.000,0.0,0.0,0.400000
1826,0.111893,0.516528,0.936709,0.457143,0.434343,0.0,0.000,0.0,0.0,0.766667

In [9]:
X_train_num

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,Year,Month,Day
3650,4993.025273,75090,63,10,67,1,7,2011,2,17
8872,8053.268897,17301,105,1,11,0,5,2011,2,1
5726,6575.538170,10517,92,14,65,0,3,2011,2,5
3284,7996.604028,43657,66,21,74,0,2,2011,1,17
2449,5015.009472,48567,130,12,15,0,1,2011,2,3
...,...,...,...,...,...,...,...,...,...,...
1099,20477.108410,58317,73,0,56,0,2,2011,1,1
2514,2300.691547,25905,63,21,12,0,1,2011,1,15
6637,6167.854162,27289,158,4,78,2,1,2011,1,17
2575,6403.577368,28095,82,18,2,0,8,2011,1,31
7336,2809.766683,74713,70,20,67,0,1,2011,2,24

In [10]:
# Encode the categorical variables X_train_cat and X_test_cat (See the hint below for encoding categorical data!!!)

# One Hot Encode: state - marital status - policy type - policy - renew offer - sales channel - vehicle class - response - gender

X_train_cat

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
3650,Oregon,No,Basic,College,Employed,F,Rural,Married,3,Offer4,Branch,Four-Door Car,Medsize
8872,California,No,Premium,College,Disabled,M,Suburban,Married,1,Offer2,Call Center,Four-Door Car,Small
5726,Arizona,No,Extended,Bachelor,Disabled,M,Urban,Single,1,Offer1,Agent,Four-Door Car,Medsize
3284,Oregon,No,Basic,Master or Above,Employed,F,Suburban,Married,1,Offer1,Agent,Two-Door Car,Large
2449,Arizona,Yes,Extended,Bachelor,Employed,F,Suburban,Single,1,Offer2,Agent,SUV,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,California,No,Basic,College,Employed,F,Suburban,Married,2,Offer4,Call Center,Four-Door Car,Medsize
2514,Washington,Yes,Basic,Bachelor,Retired,M,Suburban,Divorced,3,Offer1,Agent,Four-Door Car,Large
6637,Arizona,No,Premium,High School or Below,Employed,M,Suburban,Married,3,Offer2,Agent,Sports Car,Medsize
2575,Oregon,No,Extended,College,Employed,M,Suburban,Married,3,Offer3,Web,Four-Door Car,Medsize
7336,California,No,Basic,High School or Below,Employed,M,Suburban,Married,3,Offer1,Branch,Four-Door Car,Large

In [11]:
from sklearn.preprocessing import OneHotEncoder

columns_to_encode = ['state', 'marital_status', 'policy', 'renew_offer_type',
                     'sales_channel', 'vehicle_class', 'response', 'gender', 'employmentstatus', 'location_code']

X_train_cat_to_encode = X_train_cat[columns_to_encode]

encoder = OneHotEncoder(drop='first').fit(X_train_cat_to_encode)

cols = encoder.get_feature_names_out(X_train_cat_to_encode.columns)
X_train_encoded = pd.DataFrame(encoder.transform(X_train_cat_to_encode).toarray(), columns=cols)

In [12]:
X_train_encoded

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_2,policy_3,renew_offer_type_Offer2,renew_offer_type_Offer3,...,vehicle_class_Sports Car,vehicle_class_Two-Door Car,response_Yes,gender_M,employmentstatus_Employed,employmentstatus_Medical Leave,employmentstatus_Retired,employmentstatus_Unemployed,location_code_Suburban,location_code_Urban
0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7303,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
7304,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
7305,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
7306,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# X_train_encoded.reset_index(drop=True, inplace=True)

In [14]:
# X_train.reset_index(drop=True, inplace=True)

In [15]:
X_train_cat_dropped = X_train_cat.drop(columns=columns_to_encode)

In [16]:
X_train_cat_dropped.reset_index(drop=True, inplace=True)

In [17]:
X_train_cat_dropped

      coverage             education vehicle_size
0        Basic               College      Medsize
1      Premium               College        Small
2     Extended              Bachelor      Medsize
3        Basic       Master or Above        Large
4     Extended              Bachelor      Medsize
...        ...                   ...          ...
7302     Basic               College      Medsize
7303     Basic              Bachelor        Large
7304   Premium  High School or Below      Medsize
7305  Extended               College      Medsize
7306     Basic  High School or Below        Large

[7307 rows x 3 columns]

In [18]:
X_train_encoded

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_2,policy_3,renew_offer_type_Offer2,renew_offer_type_Offer3,...,vehicle_class_Sports Car,vehicle_class_Two-Door Car,response_Yes,gender_M,employmentstatus_Employed,employmentstatus_Medical Leave,employmentstatus_Retired,employmentstatus_Unemployed,location_code_Suburban,location_code_Urban
0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7303,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
7304,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
7305,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
7306,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [19]:
X_train_one_hot_encoded = pd.concat([X_train_cat_dropped, X_train_encoded], axis=1)

In [20]:
X_train_one_hot_encoded

,coverage,education,vehicle_size,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_2,...,vehicle_class_Sports Car,vehicle_class_Two-Door Car,response_Yes,gender_M,employmentstatus_Employed,employmentstatus_Medical Leave,employmentstatus_Retired,employmentstatus_Unemployed,location_code_Suburban,location_code_Urban
0,Basic,College,Medsize,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,Premium,College,Small,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Extended,Bachelor,Medsize,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Basic,Master or Above,Large,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,Extended,Bachelor,Medsize,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,Basic,College,Medsize,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7303,Basic,Bachelor,Large,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
7304,Premium,High School or Below,Medsize,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
7305,Extended,College,Medsize,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
7306,Basic,High School or Below,Large,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [21]:
X_test_cat_to_encode = X_test_cat[columns_to_encode]

cols = encoder.get_feature_names_out(X_test_cat_to_encode.columns)
X_test_encoded = pd.DataFrame(encoder.transform(X_test_cat_to_encode).toarray(), columns=cols)

In [22]:
X_test_cat_dropped = X_test_cat.drop(columns=columns_to_encode)

In [23]:
X_test_cat_dropped.reset_index(drop=True, inplace=True)

In [24]:
X_test_one_hot_encoded = pd.concat([X_test_cat_dropped, X_test_encoded], axis=1)

In [25]:
X_test_one_hot_encoded

,coverage,education,vehicle_size,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_2,...,vehicle_class_Sports Car,vehicle_class_Two-Door Car,response_Yes,gender_M,employmentstatus_Employed,employmentstatus_Medical Leave,employmentstatus_Retired,employmentstatus_Unemployed,location_code_Suburban,location_code_Urban
0,Extended,High School or Below,Large,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,Premium,Master or Above,Small,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Basic,College,Medsize,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,Extended,Bachelor,Medsize,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,Basic,Bachelor,Small,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822,Extended,High School or Below,Medsize,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1823,Premium,High School or Below,Medsize,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
1824,Premium,College,Small,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1825,Basic,Bachelor,Medsize,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
1826,Premium,Bachelor,Medsize,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [26]:
ordinal_columns = ['coverage', 'vehicle_size', 'education']

In [27]:
for col in ordinal_columns:
    print(X_test_one_hot_encoded[col].unique())

['Extended' 'Premium' 'Basic']
['Large' 'Small' 'Medsize']
['High School or Below' 'Master or Above' 'College' 'Bachelor']

In [28]:
X_test_one_hot_encoded["coverage"] = X_test_one_hot_encoded["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})

In [29]:
X_test_one_hot_encoded["vehicle_size"] = X_test_one_hot_encoded["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})

In [30]:
X_test_one_hot_encoded["education"] = X_test_one_hot_encoded["education"].map({"High School or Below" : 0, "Bachelor" : 0.33, "College" : 0.66, "Master or Above":1})

In [31]:
X_test_one_hot_encoded

,coverage,education,vehicle_size,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_2,...,vehicle_class_Sports Car,vehicle_class_Two-Door Car,response_Yes,gender_M,employmentstatus_Employed,employmentstatus_Medical Leave,employmentstatus_Retired,employmentstatus_Unemployed,location_code_Suburban,location_code_Urban
0,0.5,0.00,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,1.0,1.00,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.66,0.5,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.5,0.33,0.5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.33,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822,0.5,0.00,0.5,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1823,1.0,0.00,0.5,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
1824,1.0,0.66,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1825,0.0,0.33,0.5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
1826,1.0,0.33,0.5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [32]:
X_train_one_hot_encoded["coverage"] = X_train_one_hot_encoded["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})

In [33]:
X_train_one_hot_encoded["vehicle_size"] = X_train_one_hot_encoded["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})

In [34]:
X_train_one_hot_encoded["education"] = X_train_one_hot_encoded["education"].map({"High School or Below" : 0, "Bachelor" : 0.33, "College" : 0.66, "Master or Above":1})

In [35]:
X_train_one_hot_encoded

,coverage,education,vehicle_size,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_2,...,vehicle_class_Sports Car,vehicle_class_Two-Door Car,response_Yes,gender_M,employmentstatus_Employed,employmentstatus_Medical Leave,employmentstatus_Retired,employmentstatus_Unemployed,location_code_Suburban,location_code_Urban
0,0.0,0.66,0.5,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.66,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.5,0.33,0.5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.00,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.5,0.33,0.5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,0.0,0.66,0.5,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7303,0.0,0.33,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
7304,1.0,0.00,0.5,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
7305,0.5,0.66,0.5,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
7306,0.0,0.00,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [38]:
X_test_one_hot_encoded.dtypes

coverage                          float64
education                         float64
vehicle_size                      float64
state_California                  float64
state_Nevada                      float64
state_Oregon                      float64
state_Washington                  float64
marital_status_Married            float64
marital_status_Single             float64
policy_2                          float64
policy_3                          float64
renew_offer_type_Offer2           float64
renew_offer_type_Offer3           float64
renew_offer_type_Offer4           float64
sales_channel_Branch              float64
sales_channel_Call Center         float64
sales_channel_Web                 float64
vehicle_class_Luxury Car          float64
vehicle_class_SUV                 float64
vehicle_class_Sports Car          float64
vehicle_class_Two-Door Car        float64
response_Yes                      float64
gender_M                          float64
employmentstatus_Employed         float64
employmentstatus_Medical Leave    float64
employmentstatus_Retired          float64
employmentstatus_Unemployed       float64
location_code_Suburban            float64
location_code_Urban               float64
dtype: object

In [ ]:
# Since the model will only accept numerical data, check and make sure that every column is numerical, if some are not, change it using encoding.

In [40]:
from sklearn import linear_model

lm = linear_model.LinearRegression()

In [42]:
lm.fit(X_train_one_hot_encoded,y_train)

LinearRegression()

In [44]:
from sklearn.metrics import r2_score

predictions = lm.predict(X_train_one_hot_encoded)
r2_score(y_train, predictions)

0.7516826359754956

In [62]:
# Great! Now define a function that takes a list of models and train (and tests) 
# them so we can try a lot of them without repeating code.


def test_models(x, y):
    from sklearn.linear_model import Ridge
    from sklearn.metrics import r2_score
    from sklearn.linear_model import LinearRegression, LogisticRegression
    from sklearn.metrics import precision_score, recall_score, f1_score, r2_score
    from sklearn.neighbors import KNeighborsRegressor
    from sklearn.neural_network import MLPRegressor
    
    lm = LinearRegression()
    lm.fit(x, y)
    lm_preds = lm.predict(x)
    print('Linear regression score:', r2_score(y, lm_preds))
    
    ridge = Ridge(alpha=1.0) 
    ridge.fit(x, y)
    ridge_preds = ridge.predict(x)
    print('Ridge regression score:', r2_score(y, ridge_preds))
    
    neighborsRegressor_regressor = KNeighborsRegressor(n_neighbors=5)  
    neighborsRegressor_regressor.fit(x, y)
    neighborsRegressor_preds = neighborsRegressor_regressor.predict(x)
    print('KNeighborsRegressor score:', r2_score(y, neighborsRegressor_preds))
    
    mlp_regressor = MLPRegressor(hidden_layer_sizes=(100, 50), max_iter=500)  
    mlp_regressor.fit(x, y)
    mlp_preds = mlp_regressor.predict(x)
    print('MLPRegressor score:', r2_score(y, mlp_preds))
    

test_models(X_train_one_hot_encoded, y_train)

Linear regression score: 0.7516826359754956
Ridge regression score: 0.7516782613455643
KNeighborsRegressor score: 0.7272200097912613
MLPRegressor score: 0.8572227479598279

/Users/v.adragna/anaconda3/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:684: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

Check and discuss the results.

I got the best results for MLPRegressor, which seems to be the most complex regresson in this short list. Linear and Rifge regression I get an acceptable values, the value is very similar, which is not surprising because they are similar model. About KNeighborsRegressor seems to be worst model in this use case, but did not check sistematically how the number of neighbors affects the score. Testing I could see that with 5 neighbors I get a much better result than with 10 (avoided over fitting)